ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
.pageWrapper {
  max-width: 900px;
  margin: auto;
}
.weatherWrapper {
  border: solid black;
  border-radius: 10px;
  margin-top: 50px;
}

.searchForm {
  margin: 25px 0px 35px;
  text-align: center;
}
.city {
  text-align: center;
}

.leftTop {
  padding: 0px;
  margin: 0 auto;
}
#icon {
  text-align: center;
  width: 80px;
  height: auto;
}

.bottomLeft {
  padding-left: 110px;
}

.currentWeather {
  font-size: 35px;
  font-weight: 400;
  padding-left: 20px;
}

.currentDescription {
  text-transform: capitalize;
}

.currentTemp {
  font-size: 70px;
}

.degreeSymbols {
  font-size: 25px;
}

.currentTemp .active {
  color: black;
  cursor: default;
}

.currentTemp .active:hover {
  text-decoration: none;
}
.currentHighLow {
  font-size: 17px;
  font-weight: bold;
}
.high {
  color: rgb(165, 7, 7);
}

.low {
  color: rgb(20, 111, 214);
}

.rightTop {
  text-align: right;
  margin-right: 30px;
}

.location {
  font-size: 40px;
  line-height: 90px;
}

.schedule {
  font-size: 25px;

  margin-top: 5px;
}

.currentFeel {
  font-size: 15px;
  font-style: italic;
  margin-top: 5px;
}

.dayForecast {
  text-align: center;
  margin-top: 70px;
}
.hourForecast {
  font-size: 18px;
  margin-bottom: 7px;
}

.hourlyTemperature {
  font-size: 16px;
  color: blue;
  margin-top: 7px;
}

.weekForecast {
  text-align: center;
  margin-top: 80px;
}
.weekDays {
  font-size: 25px;
}

.weekIcons {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.weekTemps {
  font-size: 20px;
}

.weekOne {
  padding: 0;
  margin: 0px;
}
.expandForecast {
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.githubLink {
  text-align: center;
  font-size: 20px;
  margin: 15px;
  font-size: 15px;
}

.currentDescription:first-letter {
  text-transform: capitalize;
}
