#my-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.pageWrapper {
  max-width: 800px;
  max-height: fit-content;
  margin: auto;
}

.weatherWrapper {
  position: relative;
  background-color: rgb(226, 232, 243);
  border: solid black;
  border-radius: 10px;
  margin-top: 50px;
  -webkit-box-shadow: 3px 3px 34px 24px rgba(0, 0, 0, 1);
  -moz-box-shadow: 3px 3px 34px 24px rgba(0, 0, 0, 1);
  box-shadow: 3px 3px 34px 24px rgba(0, 0, 0, 1);
}

.searchForm {
  margin: 25px 0px 35px;
}

.city {
  text-align: center;
}

#icon {
  text-align: center;
  width: 70px;
  height: auto;
}

.bottomLeft {
  padding-left: 95px;
}

.currentWeather {
  font-size: 30px;
  font-weight: 400;
  padding-left: 20px;
}

.currentDescription {
  text-transform: capitalize;
}

.currentDescription:first-letter {
  text-transform: capitalize;
}

.currentTemp {
  font-size: 50px;
  font-weight: 400;
  position: relative;
  top: -10px;
}

.degreeSymbols {
  font-size: 25px;
}

.currentTemp .active {
  color: black;
  cursor: default;
}

.currentTemp .active:hover {
  text-decoration: none;
}

.currentHighLow {
  font-size: 17px;
  font-weight: bold;
  position: relative;
  top: -5px;
}
.high {
  color: rgb(165, 7, 7);
}

.low {
  color: rgb(5, 56, 114);
}

#low-deg {
  color: rgb(5, 56, 114);
}

#high-deg {
  color: rgb(165, 7, 7);
}

.rightTop {
  text-align: right;
  margin-right: 30px;
}

.location {
  font-size: 35px;
  font-weight: 600;
  line-height: 60px;
}

.timeline {
  font-size: 20px;
}

.currentFeel {
  font-size: 18px;
  margin-top: 10px;
}

.dailyHeading {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-top: 25px;
}

.hourlyBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px 5px 5px;
}

.dayForecast {
  text-align: center;
}

.hourForecast {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 7px;
}

.hourlyTemperature {
  font-size: 15px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin-top: 7px;
}

.weeklyHeading {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-top: 25px;
}

.weeklyBox {
  background-color: rgb(226, 232, 243);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 125px;
  padding: 10px 10px 10px;
  border: 4px solid rgba(144, 162, 182, 0.3);
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    -10px 5px 22px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, -10px 5px 22px 5px rgba(0, 0, 0, 0);
  margin: 20px 10px 40px;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    -10px 5px 22px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, -10px 5px 22px 5px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

.weekForecast {
  text-align: center;
  margin-top: 0px;
}

.dailyForecast {
  font-size: 17px;
  font-weight: 500;
}

.dailyTemperature {
  font-size: 17px;
  font-weight: 700;
}

.githubLink {
  font-size: 16px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  position: relative;
}

#author {
  color: white;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  display: block;
  border-top: 3px solid rgb(89, 98, 106);
  margin-left: 75px;
  margin-right: 75px;
}
